@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.hero {
  font-family: "Roboto", sans-serif !important;
  height: 100vh;
}

.hero--vertical {
  width: inherit;
  height: inherit;
  background: linear-gradient(to top, #111 10%, transparent 90%);
}

.hero--horizontal {
  width: inherit;
  height: inherit;
  background: linear-gradient(to right, #111 30%, transparent 70%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  padding-bottom: 150px;
  padding-top: 70px;
}

.hero--name {
  font-size: 60px;
  font-weight: bold;
}

.hero--original-name {
  font-size: 20px;
  line-height: 0;
}

.hero--info {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.hero--points,
.hero--year,
.hero--seasons {
  display: inline-block;
  margin-right: 15px;
}

.hero--points {
  color: #46d369;
}

.hero--description {
  margin-top: 15px;
  font-size: 20px;
  color: #999;
  max-width: 40%;
}

.hero--buttons {
  margin-top: 15px;
}

.hero--genres {
  margin-top: 15px;
  font-size: 18px;
  color: #999;
}
